@import "./partials/animation";
@import "./partials/button";
@import "./partials/color";
@import "./partials/font";
@import "./partials/margin";
@import "./partials/mixin";
@import "./partials/reset";

@each $button, $color in $btn{
    .btn-#{$button}{
        background-color: $color;
        padding:map-get($sizes , md );
        @include floating(
            $radius:10px
        );
    }
} 

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    nav{
        ul{
            li{
                display: inline-block;
            }
        }
    }
}
.img-hero{
    @include floating(
        $border:map-get($sizes, sm) solid $text-color,
    );
    width: 100%;
    height: 300px;
    object-fit: cover
}

.container{
    @include grid;
}

.grid-img{
    @include image;
    @include floating(
        
        $box-shadow: rgba(233, 10, 10, 0.833) 0px 7px 29px 0px,
        $border: none,
    );
    @include fade-in
}

